.amarelo {
    background-color: #fcf6a0
}

.verde {
    background-color: rgb(145, 221, 145)
    }

.dados {
    bottom: 10px;
    right: 10px;
}

.text {
    font-family: "Arial Bold", Arial;
    font-weight: 700;
    font-size: 22px;
    color: #ffffff !important;
}

div.box {
    width: 150px;
    display: inline-block;
}
